html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}



.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

.App {
  font-family: 'Work Sans'
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #e91515;
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}


